body{
	background: gray;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h2{
	text-align: center;
	font-size: 32pt;
}

form{
	position: relative;
	border-style: double;
  width: 500px;
	height: 240px;
}

#userNumInfo{
	position: absolute;
	margin-left: 5px;
}

#userNumInfo p{
	text-align: right;
}

#roleNumInfo{
	position: absolute;
	right: 0px;
	margin-right: 5px;

}

#roleNumInfo p{
	text-align: right;
}

#confirm{
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

#confirm input{
	width: 20%;
}


.inputForm{
	border: ridge;
	border-color: blue;
	font-size: 12pt;
	width: 50px;
}
