body{
	background: gray;
}

.inputForm{
	border: ridge;
	border-color: blue;
	font-size: 18pt;
}

h2{
	text-align: center;
	font-size: 32pt;
}

#login-button{
	position: absolute;
	left: 45%;
	width: 10%;
}

a{
	position: absolute;
	right: 30%;
}

#inputForm {
	
}
#inputForm p{
	text-align: center;
	font-size: 18pt;
}