body{
	background: gray;
}

.parents{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

form{
	text-align: center;
}

#login-button{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 40%;
	font-size: 16px;
	margin-bottom: 5px;
}

form a{
	position: relative;
}

.inputForm{
	border: ridge;
	border-color: blue;
	font-size: 18pt;
}

h2{
	text-align: center;
	font-size: 32pt;
	margin-top: 0px;
}

#inputForm p{
	text-align: center;
	font-size: 18pt;
}
