<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>WebWerewolf</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/game.css">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
	<h1>WebWerewolf</h1>

	<div id="configArea">
		<p>村情報</p>
		<ul>
			<li>USER: 0</li>
			<li>CPU: 0</li>
		</ul>

		<ul>
			<li>VILLAGER: 0</li>
			<li>SEER: 0</li>
			<li>WEREWOLF: 0</li>
		</ul>
	</div>

	<div id="agentArea">
		<p>現在の村状態</p>

		<div id="infomationArea">
			<ul>
				<li>Day: 0</li>
				<li>Alive: 0</li>
				<li>Rope: 0</li>
			</ul>
		</div>


		<ul id="agents">
			<li>sample0</li>
			<li>sample1</li>
			<li>sample2</li>
			<li>sample3</li>
			<li>sample4</li>
			<li>sample5</li>
			<li>sample0</li>
			<li>sample1</li>
			<li>sample2</li>
			<li>sample3</li>
			<li>sample4</li>
			<li>sample5</li>
			<li>sample0</li>
			<li>sample1</li>
			<li>sample2</li>
			<li>sample3</li>
			<li>sample4</li>
			<li>sample5</li>
			<li>sample0</li>
			<li>sample1</li>
			<li>sample2</li>
			<li>sample3</li>
			<li>sample4</li>
			<li>sample5</li>
			<li>sample0</li>
			<li>sample1</li>
			<li>sample2</li>
			<li>sample3</li>
			<li>sample4</li>
			<li>sample5</li>
		</ul>
	</div>


	<div id="talkArea">
		<p>発言</p>
		<div id="talkHistory">
			<textarea rows="" cols="" readonly="readonly" id="textarea"></textarea>
		</div>
		<form id="talkForm" th:action="@{/talk}" th:object="${talkForm}">
			<input type="text" placeholder="Talk Content" id="talk" />
			<input type="submit" value="発言" />
		</form>
	</div>

<script type="text/javascript">

</script>
	<script src="../static/js/game.js" charset="utf-8"></script>


	<div id="resultArea">
		<div id="divineResult">
			<p class="results">占結果</p>
			<ul>
				<li>sample0: {sample4:x -> sample3:o}</li>
				<li>sample1: {sample2:x -> sample4:o}</li>
			</ul>
		</div>

		<div id="deadResult">
			<p class="results">犠牲者</p>
			<ul>
				<li>{sample5 -> sample2}</li>
			</ul>
			<p class="results">処刑者</p>
			<ul>
				<li>{sample3}<li>
			</ul>
		</div>

	</div>

</body>
</html>
