<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<h2>Login</h2>
	<form th:action="@{/login}" method="post" id="loginForm">
		<div id="inputForm">
		<p>USERNAME
		<input type="text" name="username" id="username" class="inputForm" placeholder="username">
		</p>
		<p>PASSWORD
		<input type="password" name="password" id="password" class="inputForm" placeholder="password">
		</p>
		<input type="submit" id="login-button" value="LOGIN">
		</div>
	</form>
	<a href="new" >アカウント作成へ</a>

</body>
</html>