<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
</head>
<body>

	<form th:action="@{/login}" method="post" class="login-form">
		<p>username
		<input type="text" name="username" id="username" placeholder="username">
		<p>password
		<input type="password" name="password" id="password" placeholder="password">
		<input type="submit" id="login-button" value="LOGIN">
	</form>
	
	<a href="new">アカウント作成へ</a>

</body>
</html>