<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>sikutter</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/new.css">
</head>
<body>
	<h2>Create Account</h2>

	<form th:action="@{/new}" method="post" th:object="${userInfoForm}">
		<div id="inputForm">
		<p>USERNAME
		<input type="text" name="username" id="username" class="inputForm" placeholder="username">
		</p>
		<p>PASSWORD
		<input type="password" name="password" id="password" class="inputForm" placeholder="password">
		</p>
		<input type="submit" id="login-button" value="REGISTER">
		</div>
	</form>




</body>
</html>
